body {
    font-family:'Times New Roman';
}

main{
    margin: auto;
    width: 100%;
}

h1, h2 {
    font-family: 'Courier New';
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    font-size:x-large;
}

h2{
    font:bold;
    font-size:xx-large;
    text-align:center;
}

header{
    padding:0;
}

footer{
    position:center;
    padding: 10px;  
    text-align:center;
    overflow:hidden;
    margin: 0 auto;
}

/*div.base stuff*/
div.base ul {
    width: 500px;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color:cornflowerblue;
}
div.base li {
    float:left;
}
div.base li a {
    text-align: center;
    display:block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
}
div.base li a:hover {
    background-color:blueviolet;
}
div.base li a:active {
    background-color: #66CC33;
}

/*div main stuff*/
div.main {
    width: 500px;
    background-color:lightgrey;
    position:relative;
    padding-bottom: 0; /*interesting comment from internet // proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 0;
    opacity: 0.8;
    margin: 0 auto;
    display:block;
}
div.main iframe{
    width: 500px;
    height: 600px;
    padding-bottom: 0;
}

/*div vehiclelist stuff*/
div.vehiclelist ul{
    width: 480px;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
div.vehiclelist li {
    float:left;
    padding:0;
}
div.vehiclelist li img{
    display:block;
    text-decoration: none;
    padding: 0;
}
div.vehiclelist li p {
    font-size: 14px;
    padding:0;
    text-align: center;
    display:block;
    color: black;
    background-color:cornflowerblue;
}
div.vehiclelist li p:hover{
    background-color:blueviolet;
}
div.vehiclelist li p:active{
    opacity: 0.9;
    background-color: #66CC33;
}

/*div personlist stuff*/
div.personlist ul{
    width: 480px;
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}
div.personlist li {
    float:left;
    padding-right: 3px;
}
div.personlist li img{
    display:block;
    text-decoration: none;
    padding: 0;
}
div.personlist li p {
    font-size: 14px;
    padding:0;
    text-align: center;
    display:block;
    color: black;
    background-color:cornflowerblue;
}
div.personlist li p:hover{
    background-color:blueviolet;
}
div.personlist li p:active{
    opacity: 0.9;
    background-color: #66CC33;
}